@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 100px);
}

a{
    text-decoration: none;
}

body{
    font-family: 'Varela Round', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    /* height: 2000px; */
}

/* -------- Utilities --------- */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
    gap: var(--gap, 1rem);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
/* -------------------------------- */

/* -------- Home ------------------ */
.hero{
    height: 100vh; 
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-image: linear-gradient(to top, rgba(31, 99, 51,0.5), rgba(0, 0, 0,0.4)) ,url(../img/hero2.jpg); */
    background-image: url(../img/hero3.png);
}

.hero-container{
    height: 50vh;
    justify-content: left;
    align-items: center;
    padding-inline: 3rem;
}

.hero-heading h1{
    color: #e3e5e5;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.hero-heading hr{
    margin-block: 0.5em;
    border-color: #1f6333;
}

.hero-heading h3{
    color: #e3e3e3;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.hero-heading span{
    color: #1f6333;
}

/* -------- primary header -------- */

.logo{
    width: 60px;
    margin: 2rem;
    border-radius: 50%;
}

.primary-header{
    align-items: center;
    justify-content: space-between;
}

.sticky .primary-header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 350ms ease-in-out;
}

.nav-toggle{
    display: none;
}

.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(0, 0%, 0%, 0.5);
    transition: all 350ms ease-out;
    text-transform: uppercase;
}

.sticky .primary-header .primary-navigation{
    background: hsl(0, 0%, 0%, 0.6);
}

.primary-navigation a{
    color: #e3e3e3;
}

.primary-navigation a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-block: 0.4em;
}

@supports (backdrop-filter: blur(1rem)){
    .primary-navigation{
        background: hsl(0, 0%, 100%, 0.1);
        backdrop-filter: blur(1rem);
    }
}

/* About section home page */

#about-us .flex{
    justify-content: space-between;
}

#about-us{
    margin-block: 3em;
}

#about-us .container{
    margin-block: 2em;
}

.about-heading{
    text-align: center;
}

.about-heading span{
    color: #1f6333;
}

.about-para{
    text-align: justify;
    /* text-justify: auto; */
    margin: 1em 3em;
    line-height: 1.8;
    font-size: 1.15em;
    word-spacing: -2px;
}

.about-para p{
    padding-block: 0.4em;
}

.about-para p span{
    color: #1f6333;
}

#about-us .globe{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-us .globe img{
    width: 300px;
    height: 300px;
    
}

.card-container{
    margin-block: 2em;
    align-items: center;
    flex-wrap: wrap;
}

.card-wrap{
    width: 350px;
    height: 150px;
    margin-block: 0.5em;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5% 25%;
    transition: all 350ms ease-out;
}

.card-wrap:hover{
    transform: translateY(-10px);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.card-container .card img{
    width: 60px;
}


/* ------------------------ */

/* About Page */

.about-page .container{
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.earth {
    width: 300px;
    height: 300px;
    background-image: url(../img/map.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px #000;
    animation: spin 15s linear infinite;

}

@keyframes spin {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -600px 0;
    }
}
/* ------------------------------------- */

/* ------------- Media Queries --------- */

@media (max-width: 768px) {
    #about-us .flex{
        flex-direction: column;
    }
}

@media (min-width: 35em){
    .primary-navigation{
        --gap: clamp(1.5rem, 5vh, 3rem);
        padding-block: 1rem;
        padding-inline: clamp(3rem, 10vh, 10rem);
    }
}

@media (max-width: 35em){
    .primary-navigation{
        --gap: 2em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    .nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background: url(../img/icon-hamburger.svg);
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .nav-toggle[aria-expanded="true"]{
        background: url(../img/icon-close.svg);
        background-repeat: no-repeat;
    }

    .hero-container{
        justify-content: center;
        align-items: flex-start;
        padding-block: 1.5em;
        text-align: center;
    }

    .hero-heading h1{
        font-size: 1.7em;
    }

    .hero-heading h3{
        font-size: 0.85em;
    }
}