@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 100px);
}

a{
    text-decoration: none;
}

body{
    font-family: 'Varela Round', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    /* height: 250em; */
}

/* -------- Utilities --------- */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
    gap: var(--gap, 1rem);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
/* -------------------------------- */

/* -------- Home ------------------ */
.hero{
    height: 100vh; 
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-image: linear-gradient(to top, rgba(31, 99, 51,0.5), rgba(0, 0, 0,0.4)) ,url(../img/hero2.jpg); */
    background-image: url(../img/hero3.png);
}

.hero-container{
    height: 50vh;
    justify-content: left;
    align-items: center;
    padding-inline: 3rem;
}

.hero-heading h1{
    color: #e3e5e5;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.hero-heading hr{
    margin-block: 0.5em;
    border-color: #1f6333;
}

.hero-heading h3{
    color: #e3e3e3;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.hero-heading span{
    color: #1f6333;
}

/* -------- primary header -------- */

.logo{
    width: 60px;
    margin: 2rem;
    border-radius: 50%;
}

.primary-header{
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.sticky .primary-header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 350ms ease-in-out;
}

.nav-toggle{
    display: none;
}

.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(0, 0%, 0%, 0.5);
    transition: all 350ms ease-out;
    text-transform: uppercase;
}

.sticky .primary-header .primary-navigation{
    background: hsl(0, 0%, 0%, 0.6);
}

.primary-navigation a{
    color: #e3e3e3;
}

.primary-navigation a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-block: 0.4em;
}

@supports (backdrop-filter: blur(1rem)){
    .primary-navigation{
        background: hsl(0, 0%, 100%, 0.1);
        backdrop-filter: blur(1rem);
    }

    #about-page-styles .primary-navigation{
        background: hsl(0, 0%, 35%);
    }
}

/* About section home page */

#about-us .flex{
    justify-content: space-between;
}

#about-us{
    margin-block: 3em;
}

#about-us .container{
    margin-block: 2em;
}

.about-heading{
    text-align: center;
    font-size: 1.8em;
    text-transform: uppercase;
}

.about-heading span{
    color: #1f6333;
}

.about-para{
    text-align: justify;
    /* text-justify: auto; */
    margin: 1em 1.5em;
    line-height: 1.8;
    font-size: 1.15em;
    word-spacing: -2px;
}

.about-para p{
    padding-block: 0.4em;
}

.about-para p span{
    color: #1f6333;
    font-weight: bold;
}

#about-us .globe{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-us .globe img{
    width: 300px;
    height: 300px;
    
}

#about-us .card-container{
    margin-block: 2em;
    align-items: center;
    flex-wrap: wrap;
}

#about-us .card-wrap{
    width: 320px;
    height: 150px;
    margin-block: 0.5em;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5% 25%;
    transition: all 350ms ease-out;
}

#about-us .card-wrap:hover{
    transform: translateY(-10px);
}

#about-us .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

#about-us .card-container .card img{
    width: 60px;
}

/* ---------------------------------------- */

/*------------ Tagline section ------------ */

.tagline-container{
    width: 100%;
    height: 25vh;
    color: #e3e3e3;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1em;
    text-transform: uppercase;
}

.low-op-bg-image{
    background-image: url(../img/product-bg.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    position: relative;
    isolation: isolate;
}

.low-op-bg-image::after{
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #1f6333;
    opacity: 0.65;
}

/* ---------------------------------------- */
/*         Product Section          */

.product-container{
    /* background-color: antiquewhite; */
    margin-block-end: 2em;
}

.product-container h1{
    font-size: 2em;
    text-align: center;
    margin-block-start: 2em;
    margin-block-end: 1em;
    text-transform: uppercase;
}

.product-container h1 span{
    color: #1f6333;
}

.card-container{
    height: 100%;
}

.product-container .flex{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.product-container .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.product-container img{
    width: 300px;
    height: 250px;
    margin-block-end: 1em;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    border-radius: 5%;
    background-color: #1f6333;
}

.card:hover .overlay {
    opacity: 1;
}

.overlay-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-btn a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #e3e4e5;
    border-radius: 5%;
    padding: 0.5em;
}
/* -------------------------------- */

/*         Footer                   */

footer{
    background: #1f6333;
    color: #e3e3e3;
}

footer ul li{
    list-style-type: none;
}

footer a{
    color: #e3e3e3;
    text-decoration: none;
}

footer a:hover{
    color: #fff;
}

footer .container{
    padding: 3em 0;
}

footer .container h3{
    text-transform: uppercase;
    margin-block-end: 1.5em;
}

footer .flex{
    justify-content: space-around;
}

footer .company{
    width: 27%;
}

footer .company p{
    text-align: justify;
    text-justify: distribute;
}

footer .important-links li{
    line-height: 1.8;
}

footer .contact-details-footer li{
    line-height: 2.2;
}

footer .contact-details-footer li i{
    font-size: 1.1em;
    margin-inline-end: 1em;
}

footer .credits-container{
    padding: 0 0 1.5em 0;
    text-align: center;
}

.credits-container hr{
    border: 0.5px solid#e3e3e3;
}

/* -------------------------------- */

/* About Page */

#about-page-styles .hero{
    background: unset;
    height: unset;
    background-position: unset;
    background-size: unset;
    background-repeat: unset;
    background-attachment: unset;
}

.about-page .container{
    justify-content: space-evenly;
    align-items: center;
}

.rotating-globe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.earth {
    width: 300px;
    height: 300px;
    margin-block-end: 13em;
    background-image: url(../img/mapWorld.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    border-radius: 50%;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px #000;
    animation: spin 150s linear infinite;

}

.about-page .company-history{
    margin-inline-start: 4em;
    margin-block-start: 3em;
    max-width: 60ch;
}

.company-history p{
    margin-block: 2em;
    text-align: justify;
    text-justify:distribute-all-lines;
}

.company-history h1{
    text-transform: uppercase;
}

.company-history h1 span{
    color: #1f6333;
}

.company-history .mission{
    margin-block: 1.5em;
}

.company-history li{
    list-style:circle ;
    margin: 0.7em 1em;
}

@keyframes spin {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -4174px 0;
    }
}

#about-page-footer{
    margin-block-start: 3em;
}
/* ------------------------------------- */

/* ------------- Media Queries --------- */

@media (max-width: 972px){
    .tagline-container{
        font-size: 1em;
    }
}


@media (max-width: 768px) {
    .container{
        margin-inline: 1em;
    }
    #about-us .flex{
        flex-direction: column;
    }
    .earth{
        width: 200px;
        height: 200px;
        margin-block-end: 1.5em;
    }
    .about-page .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: unset;
    }
    .about-page .company-history{
        margin-inline-start: 0;
        margin-block-start: 0em;
        /* max-width: 60ch; */
    }

}

@media (min-width: 35em){
    .primary-navigation{
        --gap: clamp(1.5rem, 5vh, 3rem);
        padding-block: 1rem;
        padding-inline: clamp(3rem, 10vh, 10rem);
    }
}

@media (max-width: 35em){
    .logo{
        width: 45px;
        margin: 1.5rem;
    }

    .primary-navigation{
        --gap: 2em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    .nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background: url(../img/icon-hamburger.svg);
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .sticky .primary-header .nav-toggle{
        background: url(../img/icon-hamburger-dark.svg);
        background-repeat: no-repeat;
    }

    .sticky .primary-header .nav-toggle[aria-expanded="true"],
    .nav-toggle[aria-expanded="true"]{
        background: url(../img/icon-close.svg);
        background-repeat: no-repeat;
    }

    .hero-container{
        justify-content: center;
        align-items: center;
        margin-block: -1.8em;
    }

    .hero-heading h1{
        font-size: 1.7em;
    }

    .hero-heading h3{
        font-size: 0.85em;
    }

    .about-para{
        font-size: 1em;
    }

    .tagline-container{
        font-size: 0.5em;
    }

    footer .flex{
        flex-direction: column;
    }

    footer .company{
        width: 100%;
    }
}